#Folder
.vs
Prototype_TH2/Library/CurrentLayout.dwlt
Prototype_TH2/Library/metadata/52/52a206b72a8f4f749c28d8b18b42dd19
Prototype_TH2/Library/metadata/
Prototype_TH2/Prototype_TH2.csproj
Prototype_TH2/Library/shadercompiler-UnityShaderCompiler.exe0.log
Prototype_TH2/Library/expandedItems
Prototype_TH2/Library/assetDatabase3
Prototype_TH2/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
